#contact {
  // border: solid purple 3px;
  .hidden {
    display: none;
    visibility: hidden;
  }
  .sub-content:first-child {
    padding-bottom: 3vh !important;
  }
  .sub-header {
    display: flex;
    flex-direction: column;
    .phone, .email {
      margin: 4vh 0 0 0;
    }
    .phone, .email, .skype {
      // color: lighten(#701D5F, 50%) !important;
      color: #701D5F !important;
      opacity: 0.7 !important;
      transition: opacity 1s;
      margin-right: auto;
      &:hover {
        // color: lighten(#701D5F, 35%) !important;
        opacity: 1 !important;
      }
      i {
        margin: 0 1vw 0 0 !important;
      }
    }
  }
  .message {
    font-size: 3.6vh;
    margin: 2vh 0;
    color: #701D5F;
  }
  form {
    ul {
      li {
        display: flex;
        flex-direction: column;
        label {
          font-weight: bold;
          font-size: 1.7vh;
          margin: 1vh 0;
          color: lighten(black, 40%);
        }
        input {
          padding: 1.5vh 2vw;
          margin: 1vh 0 2vh;
          width: 60%;
        }
        textarea {
          padding: 1.5vh 2vw;
          margin: 1vh 0 2vh;
          resize: none;
          min-height: 18vh;
          width: 100%;
        }
        input, textarea {
          font-size: 1.5vh;
          border-radius: 4px;
          cursor: pointer;
          outline: none;
          border: solid 1px lighten(black, 85%);
          transition: border-color 1s;
          &:hover, &:focus {
            border-color: lighten(black, 75%);
          }
          &:focus {
            -webkit-box-shadow: 2px 2px 5px 2px rgba(250,250,250,0.8);
            -moz-box-shadow: 2px 2px 5px 2px rgba(250,250,250,0.8);
            box-shadow: 2px 2px 5px 2px rgba(250,250,250,0.8);
          }
        }
      }
    }
    button {
      width: 20%;
      padding: 1.5vh 2vw;
      margin: 0 0 0 auto;
      border-radius: 4px;
      border: solid 1px #701D5F;//#701D5F;//lighten(black, 90%);
      background-color: white;
      color: #701D5F;
      cursor: pointer;
      transition: background-color 1s;
      &:hover {
        background-color: rgba(240,240,240,0.8);
        -webkit-box-shadow: 2px 2px 5px 2px rgba(250,250,250,0.8);
        -moz-box-shadow: 2px 2px 5px 2px rgba(250,250,250,0.8);
        box-shadow: 2px 2px 5px 2px rgba(250,250,250,0.8);
      }
    }
  }
}
@media screen and (min-width: 769px) {
  #contact {
    display: flex;
    .left {
      width: 30%;
    }
    .right {
      width: 70%;
    }
  }
}
