#detail {
  .project {
    padding-top: 2vh;
    padding: 0 5%;
    border-top: solid 1px lighten(black, 85%);
    a {
      color: lighten(black, 30%);
    }
    ul {
      margin: 0 0 4vh 0;
      :first-child {
        margin-bottom: 0.5vh;
      }
      margin-top: 4vh;
    }
    p {
      color: #701D5F;
      margin: 1vh 0;
      font-size: 1.6vh;
      a {
        color: #BC0097;
      }
      &.list-item {
        margin-top: 0;
        margin-bottom: 0.25vh;
        line-height: 2.2vh;
      }
      &.app-title {
        color: #BC0097;
        font-size: 2.5vh;
      }
      &.blurb {
        margin-top: 4vh !important;
        margin-bottom: 4vh !important;
        line-height: 2.2vh;
        letter-spacing: 0.02rem;
      }
      &.astrisk {
        margin-top: -3vh;
        margin-bottom: 4vh;
        color: lighten(#701D5F, 50%);
        font-size: 1.3vh;
      }
      .bold {
        font-weight: bold;
      }
    }
    .screen-shot {
      position: relative;
      .laptop {
        width: 100%;
      }
      .image {
        position: absolute;
        width: 72.25%;
        top: 19%;
        left: 14%;
        border-radius: 2px;
      }
    }
  }
  @media screen and (min-width: 769px) {
    .project {
      display: flex;
      margin: 0 5vw;
      padding: 5vh 0;
      .left {
        width: 30%;
      }
      .right {
        width: 70%;
      }
    }
  }
}
