#footer {
  // border: solid orange 3px;
  display: flex;
  margin: 0 5vw 12vh;
  padding: 2vh 0 0 0;
  justify-content: space-between;
  p, a {
    font-size: 1.6vh;
    padding: 0.5vh 0;
    color: #701D5F;
    transition: opacity 0.5s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      // color: lighten(#701D5F, 20%);
    }
  }
  i {
    margin: 0 0.5vw 0 0;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 33.333%;
    justify-content: flex-start;
    align-items: flex-start;
    a {
      margin: 0.5vh 1vw 0.5vh 0!important;
    }
    &.center {
      align-items: center;
    }
    &.right {
      flex-direction: row !important;
      justify-content: flex-end !important;
      a {
        min-width: 75px;
        text-align: right;
      }
    }
    @media screen and (min-width: 769px) {
      &.left {
        flex-direction: row !important;
        a {
          min-width: 75px;
        }
      }
    }
  }
}
