#footer {
  display: flex;
  margin: 0 5vw 8vh;
  padding: 2vh 0 0 0;
  justify-content: space-between;
  p, a {
    font-size: 1.6vh;
    padding: 0.5vh 0;
    color: #701D5F;
    transition: opacity 0.5s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  i {
    margin: 0 0.5vw 0 0;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 33.333%;
    justify-content: flex-start;
    align-items: flex-start;
    a {
      padding: 0.5vh 1vw !important;
    }
    &.center {
      align-items: center;
      justify-content: flex-end;
      a {
        position: relative;
      }
    }
    &.right {
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-around !important;
      .footer_inner_left, .footer_inner_right {
        display: flex;
        justify-content: space-around !important;
        width: 50%;
        flex-direction: row !important;
      }
      a {
        min-width: 75px;
        text-align: right;
      }
    }
    @media screen and (min-width: 769px) {
      &.left {
        flex-direction: row !important;
        a {
          min-width: 75px;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      &.right {
        justify-content: flex-end !important;
        .footer_inner_left, .footer_inner_right {
          justify-content: flex-end !important;
        }
      }
    }
  }
}
