#resume {
  flex-wrap: wrap;
  .bold {
    font-weight: bold;
  }
  .sub-content.top {
    width: 100%;
    border-bottom: none;
    padding-bottom: 1.8vh !important;
  }
  #frontend {
    padding-bottom: 3vh !important;
  }
  .resume_download {
    font-style: normal !important;
    margin: 1vh 0 2vh;
    padding: 1vh 0 !important;
    cursor: pointer;
    a {
      color: #C90059 !important;
      opacity: 1 !important;
    }
    i {
      margin-right: 0.5vw;
    }
  }
  .sub-nav {
    display: flex;
    flex-direction: column;
    a {
      margin: 0 0 2vh 2vw;
      color: #701D5F;
      cursor: pointer;
      transition: color 1s;
      &:hover {
        color: #C90059;
      }
      &:focus {
        color: #C90059;
      }
    }
  }
  .sub-content {
    .title {
      font-size: 2.9vh;
      padding: 1vh 0 2vh;
    }
    p {
      color: lighten(black, 25%);
    }
  }
  #skills {

  }
  #tech {

  }
  #education {
    a {
      color: #C90059;
      opacity: 1;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.5;
      }
      &:focus {
        color: #C90059;
      }
    }
    p:nth-child(1n + 2) {
      padding: 0.5vh 0;
    }
  }
  #travels {
    padding-bottom: 6vh !important;
    border-bottom: none !important;
  }
}

@media screen and (min-width: 769px) {
  #resume {
    display: flex;
    .left {
      width: 30%;
    }
    .right {
      width: 70%;
    }
  }
}
