#resume {
  .bold {
    font-weight: bold;
  }
  .sub-header {
    display: flex;
    flex-direction: column;
    a {
      font-style: normal !important;
      margin: 4vh 0;
      padding: 0 !important;
      color: #C90059 !important;
      opacity: 1 !important;
      i {
        margin-right: 0.5vw;
      }
    }
  }
  .sub-nav {
    display: flex;
    flex-direction: column;
    a {
      margin: 0 0 2vh 2vw;
      color: #701D5F;
      cursor: pointer;
      transition: color 1s;
      &:hover {
        color: #C90059;
      }
      &:focus {
        color: #C90059;
      }
    }
  }
  .sub-content {
    padding-bottom: 3vh !important;
    .title {
      font-size: 2.9vh;
      padding: 1vh 0 2vh;
    }
    p {
      color: lighten(black, 25%);
    }
  }
  #skills {

  }
  #tech {

  }
  #education {
    a {
      color: #C90059;
      opacity: 1;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.5;
      }
      &:focus {
        color: #C90059;
      }
    }
    p:nth-child(1n + 2) {
      padding: 0.5vh 0;
    }
  }
  #travels {
    padding-bottom: 11vh !important;
  }
}

@media screen and (min-width: 769px) {
  #resume {
    display: flex;
    .left {
      width: 30%;
    }
    .right {
      width: 70%;
    }
  }
}
