#thankyou {
  .message {
    height: 100vh;
    max-height: 60vh;
    padding: 10% 0 0;
    h2 {
      text-align: center;
      margin-bottom: 40px;
      color: #701D5F;
      font-family: 'Oxygen', sans-serif;
    }
  }
}
